.control_panel {
    width: 200px;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff, #78f008);
}

.option-button {
    padding: 10px;
    background-color: rgb(187, 184, 184);
    border: none;
    margin: 20px auto;
    display: flex;
}

.option-button:hover {
    background-color: yellow;
    cursor: pointer;
}

.control_footer {
    height: fit-content;
}

.control_footer button {
    background-color: white;
}