.admin-reset {
    font-size: 16px;
}

.password-edit {
    margin: 10px;
    width: 80%;
}

.reset-button {    
    padding: 10px;
    background-color: rgb(187, 184, 184);
    border: none;
    margin: 20px auto;
    display: flex;
}

.reset-button:hover {
    background-color: yellow;
    cursor: pointer;
}