.devices-table {
    border: 3px solid grey;
    width: 100%;
    border-collapse: collapse;
}

.devices-header {
    background-color: rgb(168, 167, 167);
}

.header-text {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 1px solid black;
}

.devices-id,
.devices-type,
.devices-name,
.devices-location {
    border: 1px solid grey;
    width: 50%;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-style: italic;
}

.devices-body tr:hover {
    background: yellow;
    cursor: pointer;
}

.devices-user {
    background-color: greenyellow;
}

.active-device {
    background-color: greenyellow;
}