.admin-add {
    font-size: 16px;
}

.login-part {
    margin: 10px auto;
}

.login-edit {
    margin: 10px;
    width: 80%;
}

.role {
    margin: 10px;
    width: 80%;
    padding: 3px;
}

.password-edit {
    margin: 10px;
    width: 80%;
}

.add-button {    
    padding: 10px;
    background-color: rgb(187, 184, 184);
    border: none;
    margin: 20px auto;
    display: flex;
}

.add-button:hover {
    background-color: yellow;
    cursor: pointer;
}