.users-table {
    border: 3px solid grey;
    width: 100%;
    border-collapse: collapse;
}

.users-header {
    background-color: rgb(168, 167, 167);
}

.header-text {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 1px solid black;
}

.user-login, .user-role {
    border: 1px solid grey;
    width: 50%;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-style: italic;
 }

.users-body tr:hover {
    background: yellow;
    cursor: pointer;
}

.active-user {
    background-color: greenyellow;
}